@charset "utf-8";

body {
	background-color: #35b5d2;
}
#contens {
	background-color: #35b5d2;
}
section img {
    max-width: 180%;
}
.center {
    margin: 20px 130px 0 130px;
    max-width: 90%;
    width: 500px;
}
section  ul {
    display: flex;
    margin: 5px  0;
    padding: 0;
    list-style-type: none;
}
li {
    margin-right: 30px;
}
li:last-of-type {
    margin-right: 0;
}
ul img {
	cursor: pointer;
}



